{% extends 'base.html' %}


  

{% block content %}
<div class="container">

  <div class="row">
    {% if photos%}
      <h2>Found {{ photo|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photo in photos %}
    <div class="col-md-4">
        <div class="container-fluid">
          <div class="card-group">
            <div class="card">
              <div>
                <!-- <img src="{{photo.photo.url}}" style="width:400px;height:400px;" alt="Card image cap" id="img"> -->
              </div>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{photo.id}}">
                  <img src="{{photo.photo.url}}" style="width:400px;height:400px;" alt="Card image cap" id="img">
              </button>
    
              <!-- Modal -->
              <div class="modal fade" id="exampleModal{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{photo.photo.url}}" style="width:400px;height:400px;" alt="Card image cap" id="img">
                        <p><h3>{{photo.name}}</h3></p>
                        <p><strong>Category:</strong>{{photo.category}}</p>
                        <p><strong>Location:</strong>{{photo.location}}</p>
                        <p><strong>Description:</strong>{{photo.description}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="card-body">
                <button onclick="copyLink()" class="btn btn-primary">Copy link</button>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}